<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PawsVille - Meow Care</title>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="output.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://img.freepik.com/free-vector/pet-logo-design-paw-vector-animal-shop-business_53876-136741.jpg?t=st=1738955431~exp=1738959031~hmac=5c28fcd03f680b62373646de289ad7d20435837a946947eee8ae3384ae07ba6d&w=826"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Londrina+Solid:wght@100;300;400;900&family=Righteous&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- As I have already designed responsive website in CSS before, I'm opting to learn Tailwind CSS, and hence exploring Flowbite templates -->
  <body class="bg-orange-100">
    <%- include('./templates/header'); %> <%- include('./templates/aside'); %>

    <div class="sm:ml-50 xl:ml-70 p-5">
      <div
        class="p-4 border-gray-200 min-h-screen border-dashed rounded-lg dark:border-gray-700 mt-14"
      >
        <header>
          <p class="time text-slate-700 nunito-sans-regular"></p>
        </header>
        <h1 class="h1-style">Meow Care</h1>
        <h3 class="h3-style">
          Find trustworthy resources on how to take care of your Meow!
        </h3>
        <div
          class="flex sm:flex-row flex-wrap gap-5 my-5 [&>*]:w-full [&>*]:md:w-80 [&>*]:lg:w-full"
        >
          <div
            class="max-w-sm bg-white border-1 border-orange-200 rounded-lg shadow-sm dark:bg-orange-500"
          >
            <a href="https://www.aspca.org/pet-care/cat-care">
              <figure class="bg-white px-2 rounded-t-lg">
                <img
                  class="h-40 w-full object-cover"
                  src="https://mma.prnewswire.com/media/546029/ASPCA_Voice_Logo.jpg?p=facebook"
                  alt=""
                />
              </figure>
            </a>
            <div class="p-5">
              <a href="aspca.org/pet-care/cat-care">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  General Meow Care
                </h5>
              </a>
              <p class="mb-3 font-normal text-white">
                American Society for the Prevention of Cruelty to Animals offers
                informative articles from General Meow Care to Common Dog
                Diseases!
              </p>
              <a
                href="https://www.aspca.org/pet-care/dog-care"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-600 focus:ring-2 focus:outline-none focus:ring-slate-200"
              >
                Find out
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div
            class="max-w-sm bg-white border border-orange-200 rounded-lg shadow-sm dark:bg-orange-500"
          >
            <a href="https://en.pawshake.ca/">
              <img
                class="rounded-t-lg h-40 w-full object-cover"
                src="https://static1.pawshakecdn.com/pawshake_logo.jpeg"
                alt=""
              />
            </a>
            <div class="p-5">
              <a href="https://en.pawshake.ca/">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  Pet Sitter
                </h5>
              </a>
              <p class="mb-3 font-normal text-white">
                Managing a busy schedule and can't take care of your Meow?
                Connect with a pet sitter via Pawshake!
              </p>
              <a
                href="https://www.pawshake.ca/"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-600 focus:ring-2 focus:outline-none focus:ring-slate-200"
              >
                Find out
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div
            class="max-w-sm bg-white border border-orange-200 rounded-lg shadow-sm dark:bg-orange-500"
          >
            <a href="https://www.thesprucepets.com/cats-4162124">
              <img
                class="rounded-t-lg bg-white px-5 h-40 w-full object-contain"
                src="https://www.thesprucepets.com/thmb/87yQHbiDHhUzd6yFDjdrXn0NBek=/500x141/filters:no_upscale():strip_icc()/thespruce_pets_color-6532ba9ae31842388811c9767f648bcc.png"
                alt=""
              />
            </a>
            <div class="p-5">
              <a href="https://www.thesprucepets.com/cats-4162124">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  Extensive Meow Guide
                </h5>
              </a>
              <p class="mb-3 font-normal text-white">
                Ever wondered if your Meow needs a jacket, or pondered about fun
                ways to celebrate your Meow's birthday? SprucePets, reviewed by
                vets have you got covered!
              </p>
              <a
                href="https://www.thesprucepets.com/cats-4162124"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-orange-300"
              >
                Find out
                <svg
                  class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./templates/footer'); %>

    <script type="module" src="js/app.js"></script>
  </body>
</html>
