<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%=title %></title>

  <link
    href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./css/output.css" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="https://img.freepik.com/free-vector/pet-logo-design-paw-vector-animal-shop-business_53876-136741.jpg?t=st=1738955431~exp=1738959031~hmac=5c28fcd03f680b62373646de289ad7d20435837a946947eee8ae3384ae07ba6d&w=826"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Londrina+Solid:wght@100;300;400;900&family=Righteous&display=swap"
    rel="stylesheet"
  />
</head>
