* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
div {
  padding: 5px;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 2px dotted green;
}
#first {
}
#second {
  position: absolute;
  top: 160px;
  /* left: 20px; */
}
.red {
  color: red;
  font-weight: bold;
}
